sectionContainer {
    margin-top: 32;
    padding-left: 24;
    padding-right: 24;
  };
  sectionTitle {
    fontSize: 24;
    fontWeight: '600';
  };
  sectionDescription {
    marginTop: 8;
    fontSize: 18;
    fontWeight: '400';
  };
  highlight {
    fontWeight: '700';
  };
